body {
    margin: 0;
    padding: 5px;
    background-color: #6A5F55;
}

a {
    text-decoration: none;
}

.form {
    border-radius: 10px;
    margin: 5px auto;
    width: 720px;
    border: 1px solid #B2BBC0;
    background-color: white;
    box-shadow: 5px 5px 3px 0 #292525;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-control label {
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    color: #bababa;
}

.form-input {
    border: 1px solid #c4c4c4;
    width: 300px;
    border-radius: 5px;
    height: 2.75em;
    margin: 1em;
}

meter {
    margin: auto;
    height: 20px !important;
    width: 90% !important;
}

progress {
    margin: auto;
    height: 20px !important;
    width: 90% !important;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

.form-checkboxes {
    flex-direction: row;
    padding: 5px 0 5px 5px;
    font-weight: lighter;
}

.submit-btn {
    margin: 10px auto;
    padding: 15px 130px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #009000;
    cursor: pointer;
}

.submit-btn:hover {
    color: #009000;
    background-color: white;
    border: 1px solid #009000;
    transform: scale(1.1);
    transition: 300ms;
}

.reset-btn {
    margin: 10px auto;
    padding: 15px 130px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
}

.reset-btn:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
    transform: scale(1.1);
    transition: 300ms;
}

.radio-form {
    border: 1px solid #B2BBC0;
    padding: 5px;
    border-radius: 5px;
}

.question {
    color: #9b9b9b;
    margin: 0;
}

.soc-medias-items{
    text-align: center;
    margin: 40px;
}
.soc-medias-items a{
    text-decoration: none;
    margin: 10px;
}
.soc-medias h1{
    margin: 10px;
    color: aliceblue;
}

h5 {
    margin: 1px;
}
.soc-medias-items i {
    display: inline;
    align-items: center;
    color: #000000;
    transition: 500ms;
}
.soc-medias-items i:hover {
    font-size: 3em;
}
.fa-instagram:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#af22d3), to(rgba(252, 56, 7, 0.89)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}
.fa-viber:hover {
    color: #8f5db7;
}
.fa-telegram-plane:hover {
    color: #0088cc;
}
.fa-linkedin-in:hover {
    color: #0077b5;
}
.fa-facebook-f:hover {
    color: #3b5998;
}
.fa-github:hover {
    color: #6e5494;
}
